<h2><%= @task.title %></h2>
<p><%= @task.details %></p>


<%= link_to "Home", tasks_path %>
<%= link_to "Edit", edit_path %>
<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
